<?xml version="1.0"?>
<appSettings>
  <add key="Mail:BaseUrl" value="http://localhost:63400/" />
  <add key="Mail:From" value="ifour.ashvin@gmail.com"/>
  <add key="Mail:Host" value="smtp.gmail.com"/>
  <add key="Mail:Port" value="587"/>
  <add key="Mail:Username" value="ifour.ashvin@gmail.com"/>
  <add key="Mail:Password" value="iFour@1234"/>
  <add key="WebUrl" value="http://localhost:63400"/>
</appSettings>