<?xml version="1.0"?>
<connectionStrings>
  <add name="DotNetDemoEntities" connectionString="metadata=res://*/DotNetDemo.csdl|res://*/DotNetDemo.ssdl|res://*/DotNetDemo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.154\SQLEXPRESS;Initial Catalog=DotNetDemo;User ID=sa;Password=iFour@4321;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DotNetDemoAsp" connectionString="Data Source=192.168.0.154\SQLEXPRESS;Initial Catalog=DotNetDemo;User ID=sa;Password=iFour@4321;" providerName="System.Data.SqlClient" />
</connectionStrings>
