/* You can add global styles to this file, and also import other style files */
.buttongroup{
    margin-top:15px;
    margin-bottom:15px;
    margin-right: 10px;;
}
.titlelabel{
    margin-top:15px;
    margin-bottom: 15px;
    width: 100%;
    font-size:20px;
    text-align: center;
}
